	.container
	{
		display:none;
	}
	.template
	{
		clear:both;
		display:block;
	}
		.category-data
		{
			display:block;
			width:100%;
		}
			.alphabar
			{
				text-align:center;
				float:left;
				max-width:3%;
				width:3%;
				max-width:10px;
				margin-top:13px;
			}
			.categories-categories
			{
				float:left;
				max-width:82%;
				
				font-size:16px;
				font-family:serif;
			}
			.categories-categories em
			{
				font-style:italic;
			}
				.categories-highest, .categories-middle, .categories-bottom
				{
					
					width:99%;
					border-bottom:1px solid #DBDBDB;
				}
					.categories-highest ul, .categories-middle ul, .categories-bottom ul
					{
						display:inline-block;
						width:98%;
						padding-right:0px;
						padding-left:18px;
					}
						.categories-highest li, .categories-middle li, .categories-bottom li
						{
							float:left;
							width:33%;
							min-width:33%;
						}
							.categories-highest a, .categories-middle a, .categories-bottom a, .categories-related a, .alphabar a
							{
								font-weight:bold;
							}
	.categories-alternative
	{
		float:right;
		min-width:14%;
	}
	.categories-alternative ul
	{
		padding-left:16px;
		padding-right:0px;
		margin-right:0px;
	}
	.categories-related
	{
		width:99%;
		border-bottom:1px solid #DBDBDB;
	}
	.categories-related ul
	{
		padding-left:18px;
	}
	.sites-reviewed
	{
		padding-top:1px;
		display:block;
		clear:both;
	}
	.cool a
	{
		background-image:url(../img/star.png);
		background-position:right;
		background-repeat:no-repeat;
		padding-right:18px;
	}
	.category-footer
	{
		float:left;
		width:83%;	
	}
	.groups ul
	{
		padding-left:18px;
	}
	.search
	{
		text-align:center;
	}
	.editors
	{
		border-top:1px solid #DBDBDB;
		text-align:center;
		margin-top:15px;
		padding-top:15px;
		
	}
	.editors a
	{
		background-color:#F0F0F0;
		padding:5px;
		padding-left:0px;
		padding-right:0px;
	}
	
	.sister
	{
		text-align:center;
		margin-top:15px;
	}
	
	