	.container
	{
		display:none;
	}
	.template
	{
		width:100%;
	}
		.category-data
		{
			width:100%;
		}
			.alphabar
			{
				text-align:center;
				padding-bottom:16px;
				border-bottom:1px solid #DBDBDB;
				margin-top:16px;
			}
			.categories-categories
			{
				width:100%;
				max-width:100%;
				font-size:16px;
				font-family:serif;
			}
			.categories-categories em
			{
				font-style:italic;
			}
				.categories-highest, .categories-middle, .categories-bottom
				{
					clear:both;
					width:100%;
					border-bottom:1px solid #DBDBDB;
				}
					.categories-highest ul, .categories-middle ul, .categories-bottom ul
					{
						display:inline-block;
						width:98%;
						padding-right:0px;
						padding-left:18px;
					}
						.categories-highest li, .categories-middle li, .categories-bottom li
						{
							float:left;
							width:33%;
							min-width:33%;
						}
							.categories-highest a, .categories-middle a, .categories-bottom a, .categories-related a, .alphabar a
							{
								font-weight:bold;
							}
	.categories-related
	{
		width:100%;
		border-bottom:1px solid #DBDBDB;
	}
	.categories-related ul
	{
		padding-left:18px;
	}
	.categories-alternative
	{
		clear:both;
		width:100%;
		font-size:13px;
		border-bottom:1px solid #DBDBDB;
		
	}
	.categories-alternative ul
	{
		display:inline-block;
		width:100%;
		padding-right:0px;
		padding-left:0px;
		list-style:none;
	}
	.categories-alternative li
	{
		float:left;
		width:14%;
		min-width:14%;
	}
	.sites-reviewed
	{
		padding-top:1px;
	}
		.cool a
		{
			background-image:url(../img/star.png);
			background-position:right;
			background-repeat:no-repeat;
			padding-right:18px;
		}
	.category-footer
	{
		width:100%;	
		clear:both;
		display:block;
		margin-bottom:50px;
	}
	.groups
	{
		border-bottom:1px solid #DBDBDB;
	}
	.groups ul
	{
		padding-left:18px;
	}
	.search
	{
		text-align:center;
		margin-top:15px;
		border-bottom:1px solid #DBDBDB;
		padding-bottom:15px;
	}
	.editors
	{
		background-color:#F0F0F0;
		
		width:30%;
		margin:0 auto;
		
		text-align:center;
		
		margin-top:15px;
		padding:4px;
	}
	.sister
	{
		text-align:center;
		margin-top:15px;
	}
	