/* CSS Document */
	*
	{
		word-wrap:break-word !important;
		white-space:wrap !important;
	}
	body, html, #body
	{
		height: 100%;
		
		margin:0px;
		padding:0px;
		border:0px;
	}
	body
	{
		font-size:13px;
		
		margin-left:7px;
		margin-right:7px;
	}
	a
	{
		color:#3300CC;
	}
	a:visited
	{
		color:#660066;
	}
		.page
		{
			min-height: 100%;
		}
			.margin
			{
				height:7px;
			}
			header
			{
				background-color:#669933;
				
				width:100%;
			}
			header img
			{
				padding:7px;
			}
				.menu
				{
					margin:0px;
					padding:0px;
					padding:3px;
					background-color:#CCCCCC;
				}
		footer
		{
			padding-top:20px;
			margin-top:-55px;
			clear:both;
			display:inline-block;
			background-color:white;
		}
		.status-bar
		{
			background-color:#669933;
			
			height:15px;
			min-width:25%;
			
			padding:3px;
			padding-bottom:2px;
			padding-top:1px;
			
			-moz-border-radius-topleft:6px;
			border-top-left-radius: 5px;
			
			position:fixed;
			right:0px;
			bottom:0px;
			color:white;
		}
		.debug
		{
			clear:both;
			display:none;
		}
