/* CSS Document */
	body, html, #body
	{
		font-size:13px;
		margin:0px;
		padding:0px;
		border:0px;
		height: 100%;
	}
	a:visited
	{
		color:#660066;
	}
	.page
	{
		padding:8px;
		min-height: 90%;
	}
	.container
	{
		display:none;
	}
		header
		{
			margin-bottom:13px;
			background-color:#669933;
			width:100%;
		}
		header img
		{
			padding:7px;
		}
			.menu
			{
				margin:0px;
				padding:0px;
				background-color:#CCCCCC;
				padding:3px;
			}
			.menu ul
			{
				display:inline-table;
				margin:0px;
				padding:0px;
			}
			.menu li
			{
				display:inline-table;
				margin:0px;
				padding:0px;
				margin-right:12px;
			}
			.menu li:before
			{
				content:" > "; 
			}

		footer
		{
			width:100%;
			padding-top:20px;
			margin-top:-5px;
			color:#FFFFFF;
			height:20px;
			clear:both;
			display:block;
		}
			footer .status
			{
				background-color:#669933;
				float:right;
				height:15px;
				margin-right:5px;
				margin-top:-10px;
				min-width:25%;
				padding-left:5px;
				
				-moz-border-radius-topleft:6px;
				border-top-left-radius: 5px
			}
			.footer-bar
			{
				background-color:#669933;
				font-size:11px;
				height:20px;
				margin:5px;
			}
			.footer-bar a
			{
				color:Beige;			
			}
				.footer-bar-l
				{
					margin-top:3px;
					margin-left:5px;
					float:left;
				}
				.footer-bar-r
				{
					margin-top:3px;
					margin-right:5px;
					float:right;
				}
		.debug
		{
			clear:both;
			display:none;
		}
